In [1]:
import mysql.connector

Data

In [ ]:
"""
nombre: invitados-mysql
admin
Webding1233

invitados-mysql-vpc
"""

# Replace these values with your own RDS MySQL database details
# db_host = "invitados-mysql.cr3wtgo5ts9k.us-east-1.rds.amazonaws.com"
# db_username = "admin"
# db_password = "Webding1233"
# db_name = "invitados"

Connection and cursor

In [15]:
class ConnectionFactory:
  def get_connection(self,
               db_host="invitados-mysql.cr3wtgo5ts9k.us-east-1.rds.amazonaws.com",
               db_username="admin",
               db_password="Webding1233",
               db_name="invitados"):
    self.conn = mysql.connector.connect(
      host=db_host, user=db_username, password=db_password, database=db_name
    )
    self.cursor = self.conn.cursor()
    return self.conn, self.cursor

conn_factory = ConnectionFactory()

conn, cursor = conn_factory.get_connection()

Create table

In [ ]:
# create_table_query = """
#     CREATE TABLE IF NOT EXISTS invitados (
#         id varchar(255) not null primary key,
#         name VARCHAR(255) not null,
#         mesa INTEGER,
#         boletos INTEGER not null,
#         asistencia boolean default null
#     )
# """
# cursor.execute(create_table_query)

Insert value

In [ ]:
# cursor.execute("insert into invitados values ('poenfe', 'Veronica', 9, 6, false)")

Select all

In [6]:
cursor.execute("select * from invitados")
res = cursor.fetchall()
res

[('ee7628c856ad11ee808012eee64034bd',
  'Isabel Arellano',
  0,
  2,
  'no confirmada',
  'no revisada'),
 ('ee80721156ad11ee808012eee64034bd',
  'Arturo Fernandez',
  4,
  4,
  'no confirmada',
  'no revisada'),
 ('ee8ab6e256ad11ee808012eee64034bd',
  'Lauro Ramirez',
  0,
  1,
  'no confirmada',
  'no revisada')]

Close

In [ ]:
# cursor.close()
# connection.close()

In [ ]:
cursor.execute("SELECT UUID() from dual")
cursor.fetchall()

In [ ]:
from uuid import uuid4
import pandas as pd
invitados = pd.read_excel("invitados.xlsx", header=None)
for i in invitados:
  nombre, boletos, mesa = list(invitados.iloc[i])
  cursor.execute("""insert into INVITADOS (id_invitado, nombre, boletos, mesa) values(REPLACE(UUID(),'-',''), %s, %s, %s)""", [nombre, int(boletos), int(mesa)])

In [16]:
cursor.execute("truncate invitados")
conn.commit()